body{
background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.pp{
width:120px;
border-radius:50%;
display:block;
margin:auto;
}

.title{
text-align:center;
}

.desc{
text-align:center;
opacity:0.8;
}

.social{
text-align:center;
margin:10px;
}

.social a{
color:white;
font-size:22px;
margin:10px;
}

#search{
width:100%;
padding:10px;
margin:20px 0;
border:none;
border-radius:8px;
}

.card{
background:#1a1a1a;
padding:15px;
border-radius:10px;
margin-bottom:15px;
}

.img-box{
position:relative;
}

.img-box img{
width:100%;
aspect-ratio:1/1;
object-fit:cover;
border-radius:10px;
}

.new-tag{
position:absolute;
top:8px;
left:8px;
background:red;
font-size:12px;
padding:3px 6px;
border-radius:5px;
}

.download{
display:inline-block;
margin-top:10px;
padding:8px 15px;
background:#4caf50;
color:white;
text-decoration:none;
border-radius:6px;
}

.terminal{
background:black;
padding:10px;
margin:20px 0;
border-radius:10px;
}

#terminal-output{
height:150px;
overflow:auto;
font-family:monospace;
}

#ai-input{
width:100%;
padding:8px;
background:#111;
border:none;
color:white;
}