body{
background:#0f0f0f;
font-family:sans-serif;
color:white;
text-align:center;
}

.container{
max-width:500px;
margin:auto;
}

.pp{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
margin-top:20px;
box-shadow:0 0 20px #00aaff;
}

.title{
margin-top:10px;
}

.desc{
opacity:.7;
}

.social i{
font-size:24px;
margin:10px;
color:#ccc;
transition:.3s;
}

.social i:hover{
color:#00aaff;
}

.script-title{
margin-top:20px;
color:#00aaff;
animation:blink 1s infinite;
}

@keyframes blink{
0%{opacity:1}
50%{opacity:.4}
100%{opacity:1}
}

/* SEARCH */

.search-box{
width:80%;
margin:15px auto;
}

#search{
width:100%;
padding:10px;
border-radius:10px;
border:none;
background:#1a1a1a;
color:white;
}

#searchLoading{
height:3px;
background:#00aaff;
width:0%;
transition:.4s;
margin-top:5px;
}

/* TERMINAL */

#terminal{
background:black;
padding:12px;
width:85%;
margin:15px auto;
border-radius:10px;
font-family:monospace;
color:#0f0;
text-align:left;
}

/* SCRIPT CARD */

.script-card{

display:flex;
gap:15px;

background:#1a1a1a;

margin:20px;

padding:15px;

border-radius:12px;

position:relative;

animation:drop .5s;

}

@keyframes drop{

from{
opacity:0;
transform:translateY(-20px)
}

to{
opacity:1
}

}

.sc-img{

width:120px;
height:120px;

border-radius:10px;

object-fit:cover;

}

.script-info{
text-align:left;
flex:1;
}

.desc-script{
opacity:.8;
font-size:14px;
}

/* KATEGORI */

.kategori{

margin-top:6px;

}

.kategori span{

background:#222;

padding:4px 8px;

border-radius:6px;

font-size:12px;

margin-right:5px;

}

/* DOWNLOAD */

.download{

margin-top:10px;

background:#00aaff;

border:none;

padding:8px 18px;

border-radius:8px;

color:white;

cursor:pointer;

}

.tag{

position:absolute;

top:10px;

left:10px;

background:red;

font-size:11px;

padding:3px 7px;

border-radius:6px;

}