body{
background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
}

.container{
max-width:800px;
margin:auto;
padding:20px;
}

.pp{
width:90px;
border-radius:50%;
display:block;
margin:auto;
}

h1{
text-align:center;
}

.desc{
text-align:center;
color:#aaa;
font-size:13px;
}

.social{
text-align:center;
margin:10px 0;
}

.social a{
color:white;
font-size:20px;
margin:10px;
}

#search{
width:100%;
padding:10px;
border:none;
border-radius:8px;
margin:20px 0;
}

.card{
display:flex;
gap:12px;
background:#1a1a1a;
padding:10px;
border-radius:10px;
margin-bottom:12px;
align-items:flex-start;
}

.card img{
width:70px;
height:70px;
object-fit:cover;
border-radius:8px;
}

.script-info{
flex:1;
}

.script-name{
font-size:14px;
font-weight:bold;
}

.script-desc{
font-size:12px;
color:#aaa;
margin-top:3px;
}

.script-category{
font-size:11px;
color:#4da6ff;
margin-top:4px;
}

.download{
display:inline-block;
background:#4da6ff;
padding:5px 10px;
border-radius:6px;
font-size:12px;
text-decoration:none;
color:white;
margin-top:6px;
}
